<%= form_for @source_set do |f| %>
 
  <% if @source_set.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@source_set.errors.count, "error") %> prohibited
        this set from being saved:
      </h2>
      <ul>
        <% @source_set.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <strong><%= f.label "Name (required)" %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <strong><%= f.label 'SEO description' %></strong><br/>
    <em>Example: "This collection uses primary sources to explore the French and Indian War."</em><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <strong><%= f.label :overview %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_area :overview %>
  </p>

  <p>
    <strong><%= f.label :resources_for_research %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_area :resources %>
  </p>

  <p>
    <strong><%= f.label :author %></strong><br />
    <%= f.collection_check_boxes(:author_ids, Author.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %><br />
    <% end %>
  </p>
 
  <p>
    <%= f.submit 'Submit', class: 'form-submit' %>
  </p>
 
<% end %>
