<%= form_for @source_set, html: { class: 'pss-admin-form' } do |f| %>

  <% if @source_set.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@source_set.errors.count, "error") %> prohibited
        this set from being saved:
      </h2>
      <ul>
        <% @source_set.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit 'Submit', class: 'form-submit' %>
 
  <p>
    <strong><%= f.label "Name (required)" %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :published, style: 'display:inline' %></strong>
    <%= f.check_box :published %><br />
    <em>If published, set will be visible to the public.</em>
  </p>

  <p>
    <strong><%= f.label :year %></strong>
    <em>The year will be used for sorting; it will not be displayed to the user.<br/> 
    Enter a numerical value representing a single year, for example '1924'. Use negative numbers to represent BCE, for example '-331'.</em><br/>
    <%= f.text_field :year %>
  </p>
 
  <p>
    <strong><%= f.label 'SEO description' %></strong>
    <em>Example: "This collection uses primary sources to explore the French and Indian War."</em><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <strong><%= f.label :overview %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_area :overview %>
  </p>

  <p>
    <strong><%= f.label :resources_for_research %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_area :resources %>
  </p>

  <div class='expansible'>
    <a name='author'></a>
    <h2><%= f.label :author %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% authors = Author.all %>
      <% if authors.present? %>
        <%= f.collection_check_boxes(:author_ids, authors, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no authors.</p>
      <% end %>
    </div>
  </div>

  <div class='expansible'>
    <a name='tag'></a>
    <h2><%= f.label :tag %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% tags = Tag.all %>
      <% if tags.present? %>
        <%= f.collection_check_boxes(:tag_ids, tags, :id, :label) do |b| %>
          <%= b.label { b.check_box + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no tags.</p>
      <% end %>
    </div>
  </div>
 
  <%= f.submit 'Submit', class: 'form-submit' %>
 
<% end %>
