<div class='set-list'>
  <%= sets.each_slice(3) do |sets_row| %>
    <div class='moduleContainer threeCol'>
      <% sets_row.each_with_index do |set, i| %>
        <section class='module'>
          <% if set.featured_image.present? %>
            <%= link_to((image_tag base_src + set.featured_image.file_name,
                                   alt: set.featured_image.alt_text.present? ? 
                                     set.featured_image.alt_text : set.name),
                        source_set_path(set)) %>
          <% end %>
          <div class='set-name-container'>
            <%= link_to inline_markdown(set.name), source_set_path(set) %>
          </div>

          <%# Setting this variable reduces calls to the database %>
          <% set_tags = set.tags %>

          <% filters.each do |vocab, tags| %>

            <%# Get tags that are shared between this set and this vocab %>
            <% display_tags = tags & set_tags %>

            <% if display_tags.present? %>
              <div>
                <strong><%= "#{vocab.name}: " %></strong>

                <%# for each tag shared between this vocab and this set %>
                <% display_tags.each_with_index do |display_tag, index| %>

                  <%# Configure new params.
                      New params should include the display_tag and all other
                      current, non-tag params. %>

                  <% new_params = params.merge(tags: [display_tag.slug]) %>

                  <%# Link to the source_sets path with the new params %>
                  <%= link_to display_tag.label, source_sets_path(new_params) %>

                  <%# Comma-separate the list of links %>
                  <%= ", " unless index == (display_tags.count - 1) %>
                <% end %>
              </div>
            <% end %>
          <% end %>

        </section>
      <% end %>
    </div>
  <% end %>
</div>
