<% content_for :head_script do %>
  <meta name='description' content="DPLA Primary Source Sets are designed to help students develop their critical thinking skills by exploring topics in history, literature, and culture through primary sources." />
  <%= javascript_include_tag 'results-bar', defer: 'defer' %>
  <%= javascript_include_tag 'social', defer: 'defer' %>
<% end %>

<% content_for :title, 'Primary Source Sets' %>

<% content_for :foot_script do %>
  <%= render partial: 'shared/analytics' %>
<% end %>

<%# Get filterable vocabs and their associated tags for relevant sets. %>
<%# Setting this variable for the view helps reduce calls to the database. %>
<% if admin_signed_in? %>
  <% filters = filters_for_sets(SourceSet.all) %>
<% else %>
  <% filters = filters_for_sets(@published_sets) %>
<% end %>

<%= render partial: 'shared/share' %>

<div class='all-sets' id='content'>

  <h1><%= link_to 'Primary Source Sets', source_sets_path %></h1>

  <p>Digital Public Library of America (DPLA) Primary Source Sets are designed 
    to help students develop critical thinking skills by exploring topics in 
    history, literature, and culture through primary sources. Drawing online 
    materials from libraries, archives, and museums across the United States, 
    the sets use letters, photographs, posters, oral histories, video clips, 
    sheet music, and more. Each set includes a topic overview, ten to fifteen 
    primary sources, links to related resources, and a teaching guide. These 
    sets were created and reviewed by the teachers on the DPLA's 
    <%= link_to 'Education Advisory Committee', wordpress_path('education/education-advisory-committee') %>. 
    Read about our 
    <%= link_to 'education projects', wordpress_path('education') %> 
    and contact us with feedback at 
    <%= mail_to Settings.contact_email, Settings.contact_email %>.</p>

  <div class='resultsBar'>
    <% filters.each do |vocab, tags| %>
      <%= form_tag(source_sets_path, method: :get) do %>

        <% if params[:order].present? %>
          <%= hidden_field_tag(:order, params[:order]) %>
        <% end %>

        <% if params[:tags].present? %>
          <% if selected_slugs_not_in(tags).present? %>
            <%= hidden_field_tag('tags[]', selected_slugs_not_in(tags)) %>
          <% end %>
        <% end %>

        <%= label_tag('tags[]', "#{vocab.name}:") %>

        <% if selected_tags_in(tags).count == 0 %>
          <%# render dropdown menu %>
          <%= select_tag('tags[]',
                       options_for_select(tag_filter_options(tags),
                                          selected_slugs_in(tags))) %>

          <noscript><%= submit_tag 'Re-sort', name: nil %></noscript>

        <% else %>
          <%# render pill tags %>
          <ul class='tag-list inline-block'>
            <% selected_tags_in(tags).each do |tag| %>
              <li class='tag'>
                <% link_tags = selected_slugs_in(@tags).flatten.compact - [tag.slug] %>
                <% new_params = params.merge(tags: link_tags) %>
                <%= tag.label %> <%= link_to '×', source_sets_path(new_params) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>

    <%= form_tag(source_sets_path, method: :get) do %>

      <% if params[:tags].present? %>
        <% params[:tags].each do |tag| %>
          <%= hidden_field_tag('tags[]', tag) %>
        <% end %>
      <% end %>

      <%= label_tag(:order, 'Sort by:') %>
      <%= select_tag(:order, options_for_select(sort_options, @order)) %>

      <noscript><%= submit_tag 'Re-sort', name: nil %></noscript>

    <% end %>
  </div>

  <% if @published_sets.count == 0 %>
    <%= render partial: 'source_sets/no_results' %>
  <% else %>
    <%= render partial: 'source_sets/set_list',
               locals: { sets: @published_sets, filters: filters } %>
  <% end %>

  <div class='contact-outer-container'>
    <p>Send feedback about these primary source sets or our other educational resources to <%= mail_to Settings.contact_email, Settings.contact_email %>.</p>
  </div>

  <% if admin_signed_in? %>

    <div class='admin-info'>
      
      <h2>Admin Info</h2>

      <% unless current_admin.reviewer? %>
        <p><%= link_to "Create new set", new_source_set_path %></p>
      <% end %>

      <h3>Unpublished sets</h3>

      <% if @unpublished_sets.count > 0 %>
        <%= render partial: 'source_sets/set_list',
                   locals: { sets: @unpublished_sets, filters: filters } %>
      <% else %>
        <p>There are currently no unpublished sets.</p>
      <% end %>
    </div>
  <% end %>
</div>
