<% content_for :head_script do %>
  <title><%= plaintext_from_md(@source_set.name) %></title>
  <meta name='description' content="<%= @source_set.description %>" />
  <link rel='canonical' href='<%= url_for(controller: 'source_sets',
                                          action: 'show',
                                          id: @source_set.slug,
                                          only_path: false,
                                          trailing_slash: true) %>' />
  <link rel="stylesheet" type="text/css" href= 'http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css' />
  <link rel="stylesheet" type="text/css" href= 'http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css' />
  <script type="text/javascript"
          src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"
          defer></script>
  <%= javascript_include_tag 'carousel', defer: 'defer' %>
  <%= javascript_include_tag 'social', defer: 'defer' %>
<% end %>

<% content_for :foot_script do %>
  <%= render partial: 'shared/analytics' %>
<% end %>

<%= render partial: 'shared/share' %>

<div class="breadcrumbs">
  <%= render_breadcrumbs separator: ' / ' %>
</div>

<div class='set'>

  <article>
    <div class='title-outer-container'>
      <div class='title-inner-container'>
        <h1><%= inline_markdown(@source_set.name) %></h1>
        <span class='subheading'>Primary Source Set</span>
        <% if @source_set.authors.present? %>
          <span class='byline'>By <%= @source_set.author_list.to_sentence %></span>
        <% end %>
      </div>
    </div>
  </article>

  <aside class='guide-link'>
    <div class='module yellow line'>
      <div class='moduleSection'>
        <h2>Teaching guide</h2>
        <p>
          <% if @source_set.guides.present? %>
            <%= link_to inline_markdown(@source_set.guides.first.name),
                        guide_path(@source_set.guides.first) %>
          <% end %>
        </p>
      </div>
    </div>
  </aside>

  <div class='overview'>
    <%= markdown(@source_set.overview) %>
  </div>

  <%= render 'source_list' %>

  <% if @source_set.resources.present? %>
    <div class='resources-outer-container'>
      <div class='resrouces-inner-container'>
        <h2>Additional resources for research</h2>
        <%= markdown(@source_set.resources) %>
      </div>
    </div>
  <% end %>

  <ul class='tag-list'>
    <% tags = @source_set.tags %>
    <% if tags.present? %>
      <% tags.each do |tag| %>
        <li class='tag'>
          <%= link_to tag.label, source_sets_path({ tags: [tag.slug] }) %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class='clear'></div>
</div>

<div class='related-sets'>
  <% related = @source_set.related_sets %>
  <% if related.present? %>
    <h2>Related primary source sets</h2>

    <div class='carousel-container js-off'>
      <div class='multiple-items slider carousel'>
        <% related.each do |set| %>
          <div class='carousel-item'>
            <%= render partial: 'source_sets/set_tile',
                       locals: { set: set, render_tags: false } %>
          </div>
        <% end %>
      </div>
    </div>

    <noscript>
      <ul>
        <% related.each do |set| %>
          <li><%= link_to inline_markdown(set.name), source_set_path(set) %></li>
        <% end %>
      </ul>
    </noscript>
  <% end %>
</div>

<div class='contact-outer-container'>
  <p>Send feedback about this primary source set or our other educational resources to <%= mail_to Settings.contact_email, Settings.contact_email %>.</p>
</div>

<% if admin_signed_in? %>
  <h2>Admin info</h2>

  <% unless current_admin.reviewer? %>
    <p>
      <%= link_to "Edit", edit_source_set_path(@source_set) %>
      |
      <%= link_to "Delete", source_set_path(@source_set), method: :delete,
                     data: { confirm: "Are you sure you want to delete this set?" } %>
    </p>
  <% end %>

  <table>
    <tr>
      <td><strong>SEO description: </strong></td>
      <td><%= @source_set.description %></td>
    </tr>
    <tr>
      <td><strong>Published: </strong></td>
      <td><%= @source_set.published %></td>
    </tr>
    <tr>
      <td><strong>Year: </strong></td>
      <td><%= @source_set.year %></td>
    </tr>
    <tr>
      <td><strong>Featured image: </strong></td>
      <td>
        <% if @source_set.featured_image.present? %>
          <%= link_to @source_set.featured_image.file_name, image_path(@source_set.featured_image) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td valign="top"><strong>Tags:</strong></td>
      <td>
        <% @source_set.tags.each do |tag| %>
          <%= link_to tag.label, tag_path(tag) %><br/>
        <% end %>
      </td>
    </tr>
  </table>

  <% unless current_admin.reviewer? %>
    <p><%= link_to "Add new tag", new_tag_path(source_set_id: @source_set.id) %></p>

    <p><%= link_to "Add new source", new_source_set_source_path(@source_set.id) %></p>

    <p><%= link_to "Add new teaching guide", new_source_set_guide_path(@source_set.id) %></p>
  <% end %>

<% end %>
