<h1>Set: <%= inline_markdown(@source_set.name) %></h1>

<p>
  <%= link_to "Edit", edit_source_set_path(@source_set) %>
  |
  <%= link_to "Delete", source_set_path(@source_set), method: :delete,
                 data: { confirm: "Are you sure you want to delete this set?" } %>
</p>

<table>
  <tr>
    <td><strong>Name </strong></td>
    <td><%= inline_markdown(@source_set.name) %></td>
  </tr>
  <tr>
    <td><strong>SEO description </strong></td>
    <td><%= @source_set.description %></td>
  </tr>
  <tr>
    <td><strong>Overview </strong></td>
    <td><%= markdown(@source_set.overview) %></td>
  </tr>
  <tr>
    <td><strong>Resources </strong></td>
    <td><%= markdown(@source_set.resources) %></td>
  </tr>
  <tr>
    <td><strong>Published </strong></td>
    <td><%= @source_set.published %></td>
  </tr>
  <% @source_set.authors.each do |author| %>
    <tr>
      <td><strong>Author </strong></td>
      <td><%= link_to author.name, author_path(author) %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Featured image </strong></td>
    <td>
      <% if @source_set.featured_image.present? %>
        <%= link_to @source_set.featured_image.file_base, image_path(@source_set.featured_image) %>
      <% end %>
    </td>
  </tr>
</table>

<h2>Sources</h2>

<p><%= link_to "Add new source", new_source_set_source_path(@source_set.id) %></p>

<table>
<% @source_set.sources.each do |source| %>
  <tr>
    <td><%= inline_markdown(source_name(source)) %></td>
    <td><%= link_to "View", source_path(source) %></td>
    <td><%= link_to "Edit", edit_source_path(source) %></td>
    <td><%= link_to "Delete", source_path(source),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{source_name(source)}?" } %></td>
  </tr>
<% end %>
</table>

<h2>Teaching guides</h2>

<p><%= link_to "Add new teaching guide", new_source_set_guide_path(@source_set.id) %></p>

<table>
<% @source_set.guides.each do |guide| %>
  <tr>
    <td><%= inline_markdown(guide.name) %></td>
    <td><%= link_to "View", guide_path(guide) %></td>
    <td><%= link_to "Edit", edit_guide_path(guide) %></td>
    <td><%= link_to "Delete", guide_path(guide),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{guide.name}?" } %></td>
  </tr>
<% end %>
</table>
