<% content_for :foot_script do %>
<%= render partial: 'shared/analytics' %>
<% end %>

<div class='set'>

  <article>
    <div class='title-outer-container'>
      <div class='title-inner-container'>
        <h1><%= inline_markdown(@source_set.name) %></h1>
        <span class='subheading'>Primary Source Set</span>
      </div>
    </div>
  </article>

  <aside>
    <div class='module yellow line'>
      <div class='moduleSection'>
        <h2>Teaching guide</h2>
        <p>
          <% if @source_set.guides.present? %>
            <%= link_to inline_markdown(@source_set.guides.first.name),
                        guide_path(@source_set.guides.first) %> by 
            <%= authors(@source_set.guides.first).join(' and ') %>.
          <% end %>
        </p>
      </div>
    </div>
  </aside>

  <div class='overview'>
    <% if @source_set.authors.present? %>
      <p>By <%= authors(@source_set).join(' and ') %>.</p>
    <% end %>
    <%= markdown(@source_set.overview) %>
  </div>

  <%= render 'source_list' %>

  <% if @source_set.resources.present? %>
    <div class='resources-outer-container'>
      <div class='resrouces-inner-container'>
        <h2>Additional resources for research</h2>
        <%= markdown(@source_set.resources) %>
      </div>
    </div>
  <% end %>

  <div class='contact-outer-container'>
    <p>Send feedback about this primary source set or our other educational resources to <%= mail_to Settings.contact_email, Settings.contact_email %>.</p>
  </div>
</div>

<% if admin_signed_in? %>
  <h2>Admin info</h2>

  <p>
    <%= link_to "Edit", edit_source_set_path(@source_set) %>
    |
    <%= link_to "Delete", source_set_path(@source_set), method: :delete,
                   data: { confirm: "Are you sure you want to delete this set?" } %>
  </p>

  <table>
    <tr>
      <td><strong>SEO description </strong></td>
      <td><%= @source_set.description %></td>
    </tr>
    <tr>
      <td><strong>Published </strong></td>
      <td><%= @source_set.published %></td>
    </tr>
    <tr>
      <td><strong>Featured image </strong></td>
      <td>
        <% if @source_set.featured_image.present? %>
          <%= link_to @source_set.featured_image.file_name, image_path(@source_set.featured_image) %>
        <% end %>
      </td>
    </tr>
  </table>

  <p><%= link_to "Add new source", new_source_set_source_path(@source_set.id) %></p>

  <p><%= link_to "Add new teaching guide", new_source_set_guide_path(@source_set.id) %></p>
<% end %>
