<%= form_for [@source, @audio] do |f| %>

  <% if @audio.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@audio.errors.count, "error") %> prohibited
        this audio from being saved:
      </h2>
      <ul>
        <% @audio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= f.label :file_base %></strong><br/>
    <%= f.text_field :file_base %>
  </p>

  <p>
    <strong><%= f.label :mime_type %></strong><br/>
    <%= f.text_field :mime_type %><br/>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
