<% content_for :foot_script do %>

  <script>
      var pss_create_asset_path = '<%= audios_path() %>';
      var pss_asset_type = 'audio';
      var source_id = '<%= @source.present? ? @source.id : nil %>';
  </script>

  <%= javascript_include_tag 'avupload' %>

<% end %>

<h1>New audio</h1>

<% if @source.present? %>
  <p>
    <strong>This audio will be associated with: </strong>
    <%= inline_markdown(@source.display_name) %>
  </p>
<% end %>

<%= render "shared/s3form" %>
