<h1>Audio: <%= @audio.file_base %></h1>

<p>
  <%= link_to "New", new_audio_path %>
  |
  <%= link_to "Delete", 
               audio_path(@audio), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@audio.file_base}?" } %>
</p>

<table>
  <tr>
    <td><strong>File base </strong></td>
    <td><%= @audio.file_base %></td>
  </tr>
</table>

<h2>Sources</h2>
<ul>
<% @audio.sources.each do |source| %>
  <li><%= link_to inline_markdown(source.display_name), source_path(source) %>, <%= link_to inline_markdown(source.source_set.name), source_set_path(source.source_set) %></li>
<% end %>
</ul>

<%= raw audio_player(@audio) %>

<%= raw transcoding_status(@audio) %>
