<%= form_for [@source_set, @source] do |f| %>

  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@source.errors.count, "error") %> prohibited
        this source from being saved:
      </h2>
      <ul>
        <% @source.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= f.label "DPLA id (required)" %></strong><br/>
    <em>Example: ebc07432a6ba4f864daaddc4ad0a68f9</em><br/>
    <%= f.text_field :aggregation %>
  </p>

  <p>
    <strong><%= f.label :name %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :citation %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for formatting.</em><br/>
    <%= f.text_area :citation %>
  </p>

  <p>
    <strong><%= f.label :credits %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for formatting.</em><br/>
    <%= f.text_area :credits %>
  </p>

  <p>
    <strong><%= f.label :textual_content %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for formatting.</em><br/>
    <%= f.text_area :textual_content %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
