<%= form_for [@source_set, @source], html: { class: 'pss-admin-form' } do |f| %>

  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@source.errors.count, "error") %> prohibited
        this source from being saved:
      </h2>
      <ul>
        <% @source.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit 'Submit', class: 'form-submit' %>

  <p>
    <strong><%= f.label "DPLA id (required)" %></strong>
    <em>Example: ebc07432a6ba4f864daaddc4ad0a68f9</em><br/>
    <%= f.text_field :aggregation %>
  </p>

  <p>
    <strong><%= f.label :caption %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :citation %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for formatting.</em><br/>
    <%= f.text_area :citation %>
  </p>

  <p>
    <strong><%= f.label :credits %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for formatting.</em><br/>
    <%= f.text_area :credits %>
  </p>

  <p>
    <strong><%= f.label 'Description / transcription' %></strong>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for formatting.</em><br/>
    <%= f.text_area :textual_content %>
  </p>

  <p>
    <strong><%= f.label :featured, style: 'display:inline' %></strong>
    <%= f.check_box :featured %><br />
    <em>If checked, this source's small image will be the featured image for the set.</em><br/>
  </p>

  <div class='expansible'>
    <h2>Main media asset</h2>
    <a class='expand-control'>show</a>

    <div class='expand-content'>
 
      <h3><%= f.label :large_image %></h3>
      <% large_image = Image.where(size: 'large').order('file_name') %>
      <% if large_image.present? %>
        <%= f.collection_check_boxes(:image_ids, large_image, :id, :file_name) do |b| %>
          <%= b.label { b.check_box(class: "asset_check_box") + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no large images.</p>
      <% end %>

      <h3><%= f.label :audio %></h3>
      <% audios = Audio.all.order('file_base') %>
      <% if audios.present? %>
        <%= f.collection_check_boxes(:audio_ids, audios, :id, :file_base) do |b| %>
          <%= b.label { b.check_box(class: "asset_check_box") + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no audios.</p>
      <% end %>

      <h3><%= f.label :video %></h3>
      <% videos = Video.all.order('file_base') %>
      <% if videos.present? %>
        <%= f.collection_check_boxes(:video_ids, videos, :id, :file_base) do |b| %>
          <%= b.label { b.check_box(class: "asset_check_box") + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no videos.</p>
      <% end %>

      <h3><%= f.label :document %></h3>
      <% documents = Document.all.order('file_name') %>
      <% if documents.present? %>
        <%= f.collection_check_boxes(:document_ids, documents, :id, :file_name) do |b| %>
          <%= b.label { b.check_box(class: "asset_check_box") + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no documents.</p>
      <% end %>
    </div>
  </div>

  <div class='expansible'>
    <h2><%= f.label :thumbnail %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% thumbnails = Image.where(size: 'thumbnail').order('file_name') %>
      <% if thumbnails.present? %>
        <%= f.collection_check_boxes(:image_ids, thumbnails, :id, :file_name) do |b| %>
          <%= b.label { b.check_box(class: "thumbnail_check_box") + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no thumbnails.</p>
      <% end %>
    </div>
  </div>

  <div class='expansible'>
    <h2><%= f.label :small_image %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% small_images = Image.where(size: 'small').order('file_name') %>
      <% if small_images.present? %>
        <%= f.collection_check_boxes(:image_ids, small_images, :id, :file_name) do |b| %>
          <%= b.label { b.check_box(class: "small_image_check_box") + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no small images.</p>
      <% end %>
    </div>
  </div>

  <%= f.submit 'Submit', class: 'form-submit' %>

<% end %>
