<% content_for :head_script do %>
  <%= javascript_include_tag 'form', defer: 'defer' %>
<% end %>

<h1>Edit source</h1>

<p>
  <%= link_to "View", source_path(@source) %>
  |
  <%= link_to "Delete",
               source_path(@source), method: :delete,
               data: { confirm: "Are you sure you want to delete this source?" } %>
</p>

<p>This source belongs to <%= link_to inline_markdown(@source.source_set.name), source_set_path(@source.source_set) %></p>

<%= render "form" %>
