<% content_for :head_script do %>
  <title><%= plaintext_from_md(@source.name) %></title>
  <meta name='description' content="This <%= @source.main_asset.class.name.downcase %> is part of '<%= strip_tags(inline_markdown(@source_set.name)) %>', a primary source set for educational use." />
  <link rel='canonical' href='<%= url_for(controller: 'sources',
                                          action: 'show',
                                          id: @source.id,
                                          only_path: false,
                                          trailing_slash: true) %>' />
  <link rel="stylesheet" type="text/css" href= 'http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css' />
  <link rel="stylesheet" type="text/css" href= 'http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css' />
  <script type="text/javascript"
          src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"
          defer></script>
  <%= javascript_include_tag 'carousel', defer: 'defer' %>
  <%= javascript_include_tag 'social', defer: 'defer' %>
<% end %>

<% content_for :foot_script do %>
  <%= render partial: 'shared/analytics' %>
<% end %>

<%= render partial: 'shared/share' %>

<div class="breadcrumbs">
  <%= render_breadcrumbs separator: ' / ' %>
</div>

<div class='source'>
  <h1><%= inline_markdown(@source.display_name) %></h1>

  <%= render_media_asset %>

  <aside>
    <div class='module blue line'>
      <div class='moduleSection wrap'>
        <h2>For this source, consider:</h2>
        <ul>
          <li>the author's point of view</li>
          <li>the author's purpose</li>
          <li>historical context</li>
          <li>audience</li> 
        </ul>
        <h2>Citation information</h2>
        <%= markdown(@source.citation) %>
        <%= markdown(@source.credits) %>
        <p><%= link_to 'View the description of this item in DPLA',
                    frontend_path('item/' + @source.aggregation) %></p>
        <% if !@provider_name.nil? %>
        <p><%= link_to "View the item on #{@provider_name}",
                    @digital_resource_url %></p>
        <% end %>
      </div>
    </div>
  </aside>

  <div class='textual-content'>
    <%= markdown(@source.textual_content) %>
  </div>
</div>

<div class='related-sources'>
  <h2>More primary sources about <%= link_to(inline_markdown(@source_set.name), source_set_path(@source_set)) %></h2>
  
  <div class='carousel-container js-off'>
    <div class='multiple-items slider carousel'>
      <% @source.related_sources.each do |source| %>
        <div class='carousel-item'>
          <%= render partial: 'sources/source_tile',
                     locals: { source: source } %>
        </div>
      <% end %>
    </div>
  </div>

  <noscript>
    <ul>
      <% @source.related_sources.each do |source| %>
        <li> 
          <%= link_to inline_markdown(source.display_name), source_path(source) %>
        </li>
      <% end %>
    </ul>
  </noscript>
</div>

<div class='related-guides'>
  <% guides = @source.guides %>
  <h2>Teaching Guide<%= 's' if guides.count > 1 %></h2>
  <p>
    This source appears in 
    <%= raw guides.collect { |guide| link_to guide.name, guide }.to_sentence %>.
  </p>
</div>

<% if admin_signed_in? %>
  <h2>Admin info</h2>

  <% unless current_admin.reviewer? %>
    <p>
      <%= link_to "Edit", edit_source_path(@source) %>
      |
      <%= link_to "Delete", 
                   source_path(@source), method: :delete,
                   data: { confirm: "Are you sure you want to delete this source?" } %>
    </p>
  <% end %>

  <table>
    <tr>
      <td><strong>Set: </strong></td>
      <td><%= link_to inline_markdown(@source_set.name), source_set_path(@source_set)%></td>
    </tr>
    <tr>
      <td><strong>DPLA item URI: </strong></td>
      <td><%= link_to frontend_path('item/' + @source.aggregation), frontend_path(@source.aggregation) %></td>
    </tr>
    <tr>
      <td><strong>Featured? </strong></td>
      <td><%= @source.featured %></td>
    </tr>
  </table>


  <% unless current_admin.reviewer? %>
    <h3>Media assets</h2>

    <div>
      <%= link_to 'Add/remove main media asset', edit_source_path(@source, anchor: 'main-media-asset') %>
    </div>
    <div>
      <%= link_to 'Add/remove thumbnail', edit_source_path(@source, anchor: 'thumbnail') %>
    </div>
    <div>
      <%= link_to 'Add/remove small image', edit_source_path(@source, anchor: 'small-image') %>
    </div>
    <br/>
    <div>
      <%= link_to "Create new image", new_image_path(source_id: @source.id) %>
    </div>
    <div>
      <%= link_to "Create new document", new_document_path(source_id: @source.id) %>
    </div>
    <div>
      <%= link_to "Create new audio", new_audio_path(source_id: @source.id) %>
    </div>
    <div>
      <%= link_to "Create new video", new_video_path(source_id: @source.id) %>
    </div>

    <br/>

    <table>

      <% if @source.main_asset.present? %>
        <tr>
          <td><strong>Main media asset (<%= @source.main_asset.class.name %>): </strong></td>
          <td><%= @file_base_or_name %></td>
          <td><%= link_to "View", polymorphic_path(@source.main_asset) %></td>
          <td><%= link_to "Delete", polymorphic_path(@source.main_asset),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete #{@file_base_or_name}?" } %></td>
        </tr>
      <% end %>

      <% if @source.thumbnails.present? %>
        <tr>
          <td><strong>Thumbnail: </strong></td>
          <td><%= @source.thumbnails.first.file_name %></td>
          <td><%= link_to "View", image_path(@source.thumbnails.first) %></td>
          <td><%= link_to "Delete", image_path(@source.thumbnails.first),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete #{@source.thumbnails.first.file_name}?" } %></td>
        </tr>
      <% end %>

      <% if @source.small_images.present? %>
        <tr>
          <td><strong>Small image: </strong></td>
          <td><%= @source.small_images.first.file_name %></td>
          <td><%= link_to "View", image_path(@source.small_images.first) %></td>
          <td><%= link_to "Delete", image_path(@source.small_images.first),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete #{@source.small_images.first.file_name}?" } %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
