<% content_for :head_script do %>
  <%= javascript_include_tag 'poster', defer: 'defer' %>
<% end %>

<noscript>You cannot render a poster because your browser does not support JavaScript.</noscript>

<div class='poster'>
  <div class='right'>
    <div class='title'>
      <% if @type == 'set' %>
        <h1>Primary Source Set: <%= inline_markdown(@source_set.name) %></h2>
      <% elsif @type == 'guide' %>
        <h1><%= inline_markdown(@guide.name) %></h2>
      <% end %>
    </div>  
    <div class='main-image'>
      <% if @source_set.featured_image.present? %>
        <%= image_tag base_src + @source_set.featured_image.file_name %>
      <% else %>
        Please add a featured image to the set.
      <% end %>
    </div>
    <div class='logo'>
      <%= image_tag(branding_img('logo.png')) %>
    </div>
  </div>
  <div class='left'>
    <% if @source_set.sources.present? %>
      <% @source_set.sources.each do |source| %>
        <% if source.thumbnail.present? && source.thumbnail.file_name.present? %>
          <%= image_tag(base_src + source.thumbnail.file_name) %>
        <% end %>
      <% end %>
    <% else %>
      <p>Please add at least one thumbnail to the set with a width of at least 110px.</p>
    <% end %>
  </div>
</div>
