<%= form_for @author, html: { class: 'pss-admin-form' } do |f| %>
 
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <strong><%= f.label "Name (required)" %></strong>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :affiliation %></strong>
    <%= f.text_field :affiliation %>
  </p>
  
  <p>
    <%= f.submit 'Submit', class: 'form-submit' %>
  </p>
 
<% end %>
