<%= form_for @author, html: { class: 'pss-admin-form' } do |f| %>
 
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <strong><%= f.label "Name (required)" %></strong>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :affiliation %></strong>
    <%= f.text_field :affiliation %>
  </p>

  <div class='expansible'>
    <h2><%= f.label :sets %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% sets = SourceSet.all %>
      <% if sets.present? %>
        <%= f.collection_check_boxes(:source_set_ids, sets, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no sets.</p>
      <% end %>
    </div>
  </div>

  <div class='expansible'>
    <h2><%= f.label :guides %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% guides = Guide.all %>
      <% if guides.present? %>
        <%= f.collection_check_boxes(:guide_ids, guides, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no guides.</p>
      <% end %>
    </div>
  </div>
  
  <p>
    <%= f.submit 'Submit', class: 'form-submit' %>
  </p>
 
<% end %>
