<h1>Authors</h1>

<p><%= link_to "Create new author", new_author_path %></p>

<table>
<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= link_to "View", author_path(author) %></td>
    <td><%= link_to "Edit", edit_author_path(author) %></td>
    <td><%= link_to "Delete", author_path(author),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{author.name}?" } %></td>
  </tr>
<% end %>
</table>
