<h2>Edit Account</h2>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently awaiting confirmation for: <%= resource.unconfirmed_email %>
  </div>
<% end %>

<%= devise_error_messages! %>

<%# View for Devise method inherited by Registrations controller. %>
<%# Uses `resource` for consistency with Devise::Registrations#new %>
<%= form_for(resource,
             as: resource_name,
             url: registration_path(resource),
             html: { class: 'pss-admin-form' }) do |f| %>

  <fieldset>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </fieldset>

  <% if current_admin.id == resource.id %>
  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <div class="pss-admin-form-comment">
      <i>(leave blank if you don't want to change it)</i>
    </div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </fieldset>
  <% else %>
  <p class="pss-admin-form-doc">
    To change the password, direct the user to go to the
    password reset page at
    <%= Settings.app_scheme + Settings.app_host + new_admin_password_path %>
  </p>
  <% end %>

  <% if current_admin.manager? %>
  <fieldset class="status-buttons">
    <legend>Status</legend>
    <%= f.radio_button :status, :reviewer,
                       checked: resource.status == 'reviewer' %>
    <%= f.label :status_reviewer, "reviewer" %>
    <%= f.radio_button :status, :editor,
                       checked: resource.status == 'editor' %>
    <%= f.label :status_editor, "editor" %>
    <%= f.radio_button :status, :manager,
                       checked: resource.status == 'manager' %>
    <%= f.label :status_manager, "manager" %>

    <dl class="pss-admin-form-doc">
      <dt><dfn>Reviewer</dfn></dt>
      <dd>May view all content, including unpublished pages.</dt>
      <dt><dfn>Editor</dfn></dt>
      <dd>In addition to above privileges, may create, modify, and delete
          content.</dd>
      <dt><dfn>Manager</dfn></dt>
      <dd>In addition to above privileges, may create, modify, and delete
          accounts.</dd>
    </dl>

  </fieldset>
  <% end %>

  <div>
    <%= f.submit "Update", class: 'form-submit' %>
  </div>

<% end %>


<%= link_to "Back", :back %>
