<h2>Create Account</h2>

<%= devise_error_messages! %>

<%# View for Devise method inherited by Registrations controller. %>
<%# Uses `resource` for consistency with Devise::Registrations#new %>
<%= form_for(resource,
             as: resource_name,
             url: registrations_path(resource),
             html: { class: 'pss-admin-form admin' }) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>

  <%= f.label :username %>
  <%= f.text_field :username %><br/>

  <%= f.submit "Create", class: 'form-submit' %>

<% end %>
