<h1>Video: <%= @video.file_base %></h1>

<p>
  <%= link_to "Delete", 
               video_path(@video), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@video.file_base}?" } %>
</p>

<table>
  <tr>
    <td><strong>File base </strong></td>
    <td><%= @video.file_base %></td>
  </tr>
</table>

<h2>Sources</h2>
<ul>
<% @video.sources.each do |source| %>
  <li><%= link_to inline_markdown(source.display_name), source_path(source) %>, <%= link_to inline_markdown(source.source_set.name), source_set_path(source.source_set) %></li>
<% end %>
</ul>

<%= raw video_player(@video) %>

<%= raw transcoding_status(@video) %>
