<h1>Video: <%= @video.file_base %></h1>

<p>
  <%= link_to "Edit", edit_video_path(@video) %>
  |
  <%= link_to "Delete", 
               video_path(@video), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@video.file_base}?" } %>
</p>

<table>
  <tr>
    <td><strong>Video belongs to </strong></td>
    <td><%= link_to inline_markdown(source_name(@video.source)), source_path(@video.source)%></td>
  </tr>
  <tr>
    <td><strong>File base </strong></td>
    <td><%= @video.file_base %></td>
  </tr>
</table>
