<div id='admin-menu'>
  <%= link_to 'Sets', source_sets_path %>
  |
  <%= link_to 'Authors', authors_path %>
  |
  <%= link_to 'Images', images_path %>
  |
  <%= link_to 'Audios', audios_path %>
  |
  <%= link_to 'Videos', videos_path %>
  |
  <%= link_to 'Documents', documents_path %>
  |
  <%= link_to 'Tags', tags_path %>
  |
  <%= link_to 'Vocabularies', vocabularies_path %>
  |
  <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
  </ul>
</div>
