<section class='searchRow'>
  <div class='searchRowLeft'>
    <% if controller.controller_name == 'sources' &&
      controller.action_name == 'show' %>
      <%= render_back_link %>
    <% end %>
  </div>
  <div class='searchRowRight'>
    <%= link_to '', class: 'search-btn' do %>
      <span class='icon-man-glass' aria-hidden='true'></span>
      <span class='visuallyhidden'>Search</span>
    <% end %>
    <%= form_tag(frontend_path('/search'), method: :get,
                                           authenticity_token: false,
                                           id: :searchBox,
                                           class: 'search-form',
                                           role: 'search') do %>
      <%= label_tag 'searchField',
                    'Search the Library',
                    :class => 'visuallyhidden' %>
      <%= text_field_tag :searchField,
                         params[:q],
                         placeholder:
                         'Search the Library',
                         name: "q" %>
      <%= submit_tag 'Search', class: 'searchBtn', name: nil %>
    <% end %>
  </div>
</section>
