<h1>Documents</h1>

<p><%= link_to "Create new document", new_document_path %></p>

<table>
<% @documents.each do |document| %>
  <tr>
    <td><%= document.file_base %></td>
    <td><%= link_to "View", document_path(document) %></td>
    <td><%= link_to "Edit", edit_document_path(document) %></td>
    <td><%= link_to "Delete", document_path(document),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{document.file_base}?" } %></td>
  </tr>
<% end %>
</table>
