<h1>Document: <%= @document.file_base %></h1>

<p>
  <%= link_to "Edit", edit_document_path(@document) %>
  |
  <%= link_to "Delete", 
               document_path(@document), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@document.file_base}?" } %>
</p>

<table>
  <tr>
    <td><strong>File base </strong></td>
    <td><%= @document.file_base %></td>
  </tr>
</table>

<h2>Sources</h2>
<ul>
<% @document.sources.each do |source| %>
  <li><%= link_to inline_markdown(source_name(source)), source_path(source) %>, <%= link_to inline_markdown(source.source_set.name), source_set_path(source.source_set) %></li>
<% end %>
</ul>
