<h1>Tag: <%= @tag.label %></h1>

<p>
  <%= link_to "New", new_tag_path %>
  |
  <%= link_to "Edit", edit_tag_path(@tag) %>
  |
  <%= link_to "Delete", tag_path(@tag), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@tag.label}?" } %>
</p>

<table>
  <tr>
    <td><strong>Label: </strong></td>
    <td><%= @tag.label %></td>
  </tr>
  <tr>
    <td><strong>URI: </strong></td>
    <td><%= @tag.uri %></td>
  </tr>
</table>

<h2>Vocabularies</h2>
<%= link_to 'Add/remove vocabularies', edit_tag_path(@tag, anchor: 'vocabularies') %>
<ul>
  <% @tag.vocabularies.each do |vocabulary| %>
    <li><%= link_to vocabulary.name, vocabulary_path(vocabulary) %></li>
  <% end %>
</ul>

<h2>Sets</h2>
<%= link_to 'Add/remove sets', edit_tag_path(@tag, anchor: 'sets') %>
<ul>
  <% @tag.source_sets.each do |source_set| %>
    <li><%= link_to inline_markdown(source_set.name), source_set_path(source_set) %></li>
  <% end %>
</ul>
