<%= form_for @vocabulary, html: { class: 'pss-admin-form' } do |f| %>
 
  <% if @vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@vocabulary.errors.count, "error") %> prohibited
        this vocabulary from being saved:
      </h2>
      <ul>
        <% @vocabulary.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.submit 'Submit', class: 'form-submit' %>
  </p>
 
  <p>
    <strong><%= f.label "Name (required)" %></strong>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :filter, style: 'display:inline' %></strong>
    <%= f.check_box :filter %><br />
    <em>If Filter is checked, users will be able to filter sets using this vocabulary.</em>
  </p>

  <div class='expansible'>
    <h2><%= f.label :tags %></h2>
    <a class='expand-control'>show</a>
    <div class='expand-content'>
      <% tags = Tag.all %>
      <% if tags.present? %>
        <%= f.collection_check_boxes(:tag_ids, tags, :id, :label) do |b| %>
          <%= b.label { b.check_box + b.text } %><br />
        <% end %>
      <% else %>
        <p>There are currently no tags.</p>
      <% end %>
    </div>
  </div>
  
  <p>
    <%= f.submit 'Submit', class: 'form-submit' %>
  </p>
 
<% end %>
