<% content_for :head_script do %>
  <script>
    var pss_tag_sequences_sort_path = '<%= tag_sequences_sort_path %>';
  </script>
  <%= javascript_include_tag 'tag_sequence', defer: 'defer' %>
<% end %>

<h1>Vocabulary: <%= @vocabulary.name %></h1>

<p>
  <%= link_to "Edit", edit_vocabulary_path(@vocabulary) %>
  |
  <%= link_to "Delete", vocabulary_path(@vocabulary), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@vocabulary.name}?" } %>
</p>

<table>
  <tr>
    <td><strong>Name: </strong></td>
    <td><%= @vocabulary.name %></td>
  </tr>
  <tr>
    <td><strong>Filter: </strong></td>
    <td><%= @vocabulary.filter %></td>
  </tr>
</table>

<h2>Tags</h2>
<% if @vocabulary.tag_sequences.present? %>
  <p>The order below is the order in which tags will appear in a filter menu (if this vocuabulary is filterable). Drag and drop to re-order.</p>
  <ul id='tag_sequences'>
  <% for tag_sequence in @vocabulary.tag_sequences %>
    <%= content_tag_for(:li, tag_sequence, class: 'ui-state-default') do %>
      <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      <%= link_to tag_sequence.tag.label, tag_path(tag_sequence.tag) %>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no tags.</p>
<% end %>

<p><%= link_to "Add new tag", new_tag_path(vocabulary_id: @vocabulary.id) %></p>
