<%= form_for [@source_set, @guide] do |f| %>

  <% if @guide.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@guide.errors.count, "error") %> prohibited
        this guide from being saved:
      </h2>
      <ul>
        <% @guide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit 'Submit', class: 'form-submit' %>

  <p>
    <strong><%= f.label "Name (required)" %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :questions %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_area :questions %>
  </p>

  <p>
    <strong><%= f.label :activity %></strong><br/>
    <em>Use <a href=https://digitalpubliclibraryofamerica.atlassian.net/wiki/display/TECH/Markdown+guide>Markdown</a> for text formatting.</em><br/>
    <%= f.text_area :activity %>
  </p>

  <p>
    <strong><%= f.label :author %></strong><br />
    <%= f.collection_check_boxes(:author_ids, Author.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %><br />
    <% end %>
  </p>

  <%= f.submit 'Submit', class: 'form-submit' %>

<% end %>
