<h1>Teaching guide: <%= @guide.name %></h1>

<p>
  <%= link_to "Edit", edit_guide_path(@guide) %>
  |
  <%= link_to "Delete", 
               guide_path(@guide), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@guide.name}?" } %>
</p>

<table>
  <tr>
    <td><strong>Set </strong></td>
    <td><%= link_to @guide.source_set.name, source_set_path(@guide.source_set)%></td>
  </tr>
  <tr>
    <td><strong>Name </strong></td>
    <td><%= @guide.name %></td>
  </tr>
  <tr>
    <td><strong>Questions </strong></td>
    <td><%= markdown(@guide.questions) %></td>
  </tr>
  <tr>
    <td><strong>Activity </strong></td>
    <td><%= markdown(@guide.activity) %></td>
  </tr>
  <% @guide.authors.each do |author| %>
    <tr>
      <td><strong>Author </strong></td>
      <td><%= author.name %></td>
    </tr>
  <% end %>
</table>
