<% content_for :head_script do %>

  <script>
      var pss_create_asset_path = '<%= images_path() %>';
      var pss_asset_type = 'image';
      var source_id = '<%= @source.present? ? @source.id : nil %>';
  </script>

  <%= javascript_include_tag 'imgupload', defer: 'defer' %>

<% end %>

<h1>New Image</h1>

<% if @source.present? %>
  <p>
    <strong>This image will be associated with: </strong>
    <%= inline_markdown(@source.display_name) %>
  </p>
<% end %>

<fieldset class='pss-admin-form'>
    <div>

        <input id="img_large" type="radio" name="image[size]"
               value="large" checked />
        <label for="img_large" class="imgsize_label">large</label>

        <input id="img_small" type="radio" name="image[size]" value="small" />
        <label for="img_small" class="imgsize_label">small</label>

        <input id="img_thumbnail" type="radio" name="image[size]"
               value="thumbnail" />
        <label for="img_thumbnail" class="imgsize_label">thumbnail</label>

    </div>
        <label for="image_alt_text">alt text</label>
        <input id="image_alt_text" type="text" name="image[alt_text]"></input>
    </div>
</fieldset>

<%= render "shared/s3form" %>
