<h1>Image: <%= @image.file_base %></h1>

<p>
  <%= link_to "Edit", edit_image_path(@image) %>
  |
  <%= link_to "Delete", 
               image_path(@image), method: :delete,
               data: { confirm: "Are you sure you want to delete #{@image.file_base}?" } %>
</p>

<% attachable_name = @image.attachable.name.present? ? @image.attachable.name :
  @image.attachable.aggregation %>

<table>
  <tr>
    <td><strong>Image belongs to </strong></td>
    <td><%= link_to attachable_name, polymorphic_path(@image.attachable)%></td>
  </tr>
  <tr>
    <td><strong>File base </strong></td>
    <td><%= @image.file_base %></td>
  </tr>
  <tr>
    <td><strong>Mime type </strong></td>
    <td><%= @image.mime_type %></td>
  </tr>
  <tr>
    <td><strong>Size </strong></td>
    <td><%= @image.size %></td>
  </tr>
  <tr>
    <td><strong>Height </strong></td>
    <td><%= @image.height %></td>
  </tr>
  <tr>
    <td><strong>Width </strong></td>
    <td><%= @image.width %></td>
  </tr>
  <tr>
    <td><strong>Alt text </strong></td>
    <td><%= @image.alt_text %></td>
  </tr>
</table>
