<!DOCTYPE html>
<html>
<head>
  <title>PrimarySourceSets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head_script %>
</head>
<body>

  <% if admin_signed_in? %>
    <div id="admin-menu">
      <%= link_to "Sets", source_sets_path %>
      |
      <%= link_to "Authors", authors_path %>
      |
      <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
      </ul>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
