<!DOCTYPE html>
<html>
  <head>
    <title>PrimarySourceSets</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= branding_stylesheets %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= yield :head_script %>
  </head>
  <body>
    <%= render partial: 'shared/jump_links' %>
    <div class='container'>
      <%= render partial: 'shared/header' %>
      <div class='layout fullWidth'>
        <%= render partial: 'shared/search_panel' %>
        <%= render partial: 'shared/admin_menu' if admin_signed_in? %>
        <%= yield %>
      </div>
      <%= render partial: 'shared/footer' %>
    </div>
    <%= render partial: 'shared/jump_links' %>
  </body>
</html>
