<!DOCTYPE html>
<html>
<head>
  <title>PrimarySourceSets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="admin-menu">
    <%= link_to "Sets", source_sets_path %>
    |
    <%= link_to "Authors", authors_path %>
    </ul>
  </div>

<%= yield %>

</body>
</html>
