<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic'
          rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= branding_stylesheets %>
    <%= javascript_include_tag 'application' %><%# do not defer %>
    <%= javascript_include_tag 'style', defer: 'defer' %>
    <script src='https://platform.twitter.com/widgets.js'></script>
    <%= csrf_meta_tags %>
    <title><%= yield :title %></title>
    <%= yield :head_script %>
  </head>
  <body>
    <%= render partial: 'shared/jump_links' %>
    <div class='container'>
      <%= render partial: 'shared/header' %>
      <%= render partial: 'shared/search_panel' %>
      <div class='layout primary-source-sets'>
        <%= render partial: 'shared/admin_menu' if admin_signed_in? %>
        <%= yield %>
      </div>
      <%= render partial: 'shared/footer' %>
    </div>
    <%= render partial: 'shared/jump_links' %>
  </body>
  <%= yield :foot_script %>
</html>
