<!DOCTYPE html>
<html>
  <head>
    <title>PrimarySourceSets</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= branding_stylesheets %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head_script %>
  </head>
  <body>
    <%= render partial: 'shared/jump_links' %>
    <div class='container'>
      <%= render partial: 'shared/header' %>
      <div class='layout primary-source-sets'>
        <%= render partial: 'shared/search_panel' %>

        <% unless current_page?(url_for(controller: 'source_sets',
                                        action: 'index')) ||
                  current_page?(root_url) %>
          <div class="breadcrumbs">
            <%= render_breadcrumbs separator: ' / ' %>
          </div>
        <% end %>

        <%= render partial: 'shared/admin_menu' if admin_signed_in? %>
        <%= yield %>
      </div>
      <%= render partial: 'shared/footer' %>
    </div>
    <%= render partial: 'shared/jump_links' %>

    <%= yield :foot_script %>
  </body>
  <%= javascript_include_tag 'style' %>
</html>
